body {
  margin: 0;
}

#root {
  margin:0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root > img {
  margin-top: 80px;
  width: 60%;
  height: auto;
  opacity: 1;
}

nav , body{
  font-family: 'Roboto Condensed', sans-serif;
  background: #F3F3F3;
  width: 100%;
}
nav{
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.Nav--content{
  display: flex;
  color: black;
  height: minmax(10vh, 70px);
  width: 70%;
  align-items: center;
}

.Nav--content > h2{
  width: fit-content;
  margin: 15px;
  font-size: 22px;
}

.Nav--content > img {
  width: 42px;
  height:  42px;
  margin-left: auto;
  margin-right: 3VW;
}

hr {
  width: 80%;
  border: 1px solid #FD6883;
  margin: 0;;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px;
  margin-top: 0;
}
.header-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header  img{
  width: 40vw;
  height: 40vw;
  margin-right: 35px;
  border-radius: 20vw;
  /* box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25); */
}

.header--container {
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro {
  color: black;
  font-size: 40px;
  margin: 0 0 10px 0;
  width: fit-content;
}

.school{
  color: #FD6883;
  font-size: 20px;
  margin: 0 0 30px 0;
  opacity: 0;
}

.about{
  font-size: 16px;
  color: black;
  opacity:  0;
}

.typed {
  overflow: hidden;
  border-right: 4px solid #FD6883;
  white-space: nowrap;
  animation: type 3s steps(40,end), blink 1s infinite;
}

@keyframes type {
  from { width: 0 }
  to { width: 550px }
}

@keyframes blink {
  from { border-color: transparent; }
  to { border-color: #FD6883; }
}